var isSystemIcon = function (icon) {
  return icon == 'icon0' || icon == 'icon1' || icon == 'icon2' || icon == 'icon3' || icon == 'icon4' || icon == 'icon5' || icon == 'icon6' || icon == 'icon7' || icon == 'icon8' || icon == 'icon9' || icon == 'icon10' || icon == 'icon11' || icon == 'icon12' || icon == 'icon13' || icon == 'icon14'
};
var rewardTopIcon = function (type) {
  switch (type) {
    case 'group_photo':
      return '/static/icon/group_photo.png'
    case 'congrats':
      return '/static/icon/congrats.png'
    case 'scan':
      return '/static/icon/scan.png'
    case 'photograph':
      return '/static/icon/photograph.png'
    case 'clock':
      return '/static/icon/clock.png'
    case 'answer':
      return '/static/icon/answer.png'
  }
}

module.exports = {
  isSystemIcon: isSystemIcon,
  rewardTopIcon: rewardTopIcon
};